.transbox {
  position: fixed !important;
  border: solid 1px #ccc !important;
  width: 400px !important;
  height: 300px !important;
  box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.16) !important;
  display: block !important;
  background-color: white !important;
  opacity: 1 !important;
  z-index: 2147483647 !important;
  color: black !important;
  font-family: "Times New Roman", Times, serif !important;
}
